#dashboard
  #dashboard_header
  #dashboard_body
    %ul#dashboard_ul
      - @widgets.each do |w|
        %li.widget[w]{:path => widget_path(w), :class => "size-#{w.size}"}
          .widget_box
            %h2
              widget
            .content
              (original)
              = w.data
            .actions
              = link_to "Delete", widget_path(w)
              = link_to "Edit",   edit_widget_path(w)
  #new_widget
    = link_to 'Create a new widget',new_widget_path
